:root {
    ---greyC : #111
}
* {
    margin: 0%;
}
.navigation {
    height: 80px;
    width: 100%;
    display: grid;
    background-color: var(---greyC);
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 1fr 2fr 1fr;
    position: fixed;
}
.text {
    color: white;
}
.navigation div {
    align-self: center;
    text-align: center;
}
.navItem2 {
    grid-area: 2 / 1 / 3 / 2;
}
.navItem3 {
    grid-area: 2 / 2 / 2 / 3;
}
.btn {
    background: #5E5DF0; border-radius: 999px;box-shadow: #5E5DF0 0 10px 20px -10px;box-sizing: border-box;color: #FFFFFF;cursor: pointer;font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;font-size: 16px;font-weight: 700;line-height: 24px;opacity: 1;outline: 0 solid transparent;padding: 8px 18px;user-select: none;-webkit-user-select: none;touch-action: manipulation;width: fit-content;word-break: break-word;border: 0;
}
.interface {
    height: 800px;
    background-color: #f0eef1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.holder {
    grid-area: 3 / 1 / 20 / 20;
    display: grid;
}
